@import 'Global.css';

.checkout-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinha os elementos no topo */
  gap: 20px; /* Ajusta a distância entre os elementos */
  padding: 20px;
  height: 100%;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  display: flex; 
  
}


.payment-form {
  flex: 1;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  max-width: 500px;
  font-family: Arial, sans-serif;
}

.payment-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.payment-form .form-group {
  margin-bottom: 15px;
}

.payment-form .form-group label {
  display: block;
  margin-bottom: 5px;
}

.payment-form input,
.payment-form .stripe-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.payment-form button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.payment-form button:hover {
  background-color: #45A049;
}

.credit-card-preview {
  width: 300px;
  position: relative;
  perspective: 1000px;
}

.plan-details {
  flex: 0.3; /* Reduz o tamanho da caixa em relação ao formulário */
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  max-width: 300px; /* Limita a largura máxima da caixa */
}

.plan-details h3 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.plan-details p {
  font-size: 14px;
  color: #555;
}

.plan-details .plan-price {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.plan-details .plan-renewal {
  font-size: 14px;
  color: #777;
}

.card-number,
.expiry,
.cvc {
    transition: all 0.3s ease-in-out;
}

.checkbox-group {
  display: flex;
  align-items: center; /* Alinha o checkbox e o texto verticalmente */
  justify-content: flex-start; /* Garante que o checkbox fique alinhado à esquerda */
}

.checkbox-group input[type="checkbox"] {
  margin-right: 10px; /* Espaço entre o checkbox e o texto */
}

