html,
body {
    height: 100%;    
    width: 100%;
    font-size: 17px;    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;

}

.content {

    width: 100%;
    height: 100%;
}

.dashboard {
    display: flex;
    flex-direction: row;
    height: 100vh;    
    width: 100vw;  

}

/* Define a estrutura geral do menu */
.sidebar {
    width: 30vw;
    height: 100vh;
    background-color: #4a4956;
    padding: 30px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    color: white;
    margin-left: 0;    
    margin-top: 0;
    box-sizing: border-box;
    overflow-y: auto;
    background: linear-gradient(135deg, #4a4956, #2c2a3f);
    transition: all 0.3s ease;
}

/* Cada seção do menu */
.rounded-box {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border: 2px solid #ff6f00; /* Cor da borda verde */
    border-radius: 15px; /* Arredondamento da borda */
    padding: 15px; /* Espaço interno */
    padding-bottom: 20px;
    margin-bottom: 20px; /* Espaço inferior */
    background-color: rgba(255, 255, 255, 0.2); /* Fundo branco transparente */
    backdrop-filter: blur(5px); /* Efeito de desfoque no fundo */
}



/* Estilo para parágrafos do menu */
.sidebar p {
    margin-bottom: 20px;    
    font-size: 1.2rem;
    font-weight: 600;
    color: #ffffff; 
}

.sidebar.open {
    transform: translateX(0);
}

/* Botões da sidebar */
.sidebar-button {
    display: block;
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    font-size: 1.1rem;    
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-shadow: #120c2b;
}

.sidebar-button.save {
    margin-top: 50px;
    background-image: linear-gradient(to right, #237026, #81c784); /* Degradê do verde escuro para verde claro */
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-shadow: #120c2b;
}

.sidebar-button.save:hover {
    background-image: linear-gradient(to right, #45a049, #66bb6a); /* Degradê mais escuro no hover */
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.sidebar-button.clear-selection {
    background-image: linear-gradient(to right, #f44336, #e57373); /* Degradê do vermelho escuro para vermelho claro */
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.sidebar-button.clear-selection:hover {
    background-image: linear-gradient(to right, #d32f2f, #ef5350); /* Degradê mais escuro no hover */
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.sidebar-button.cancel-subscription {
    background-image: linear-gradient(to right, #8256d3, #bb86fc); /* Degradê do roxo escuro para roxo claro */
    color: white;
    padding: 15px;
    margin-top: 120px;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
}

.sidebar-button.cancel-subscription:hover {
    background-image: linear-gradient(to right, #5418e0, #7e57c2); /* Degradê mais escuro no hover */
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

h3.custom-heading {
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 700;
}

/* Exemplo de seção adicional (exemplo de logout) */
.logout-section {
    margin-top: auto; /* Empurra essa seção para o final da sidebar */
}

/* Exemplo de outra seção com espaçamento maior */
.large-section {
    margin-bottom: 50px; /* Espaçamento maior entre essa seção e a próxima */
}

.stocks-section {
    margin-top: 20px;
    flex-grow: 1;
    overflow-y: auto;    
    max-height: calc(100vh - 60px);
}

.stocks-grid {
    display: grid;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
    grid-template-columns: repeat(4, 1fr);
    perspective: 1000px;
}

.stock-card {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* transition: box-shadow 0.3s ease, border-color 0.3s ease; */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid transparent;
    width: 100%;
    max-width: 300px;
    min-width: 300px;
    height: auto;
    min-height: 150px;
    box-sizing: border-box;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
}

.stock-card.selected {
    border-color: #f19f60;
    background-color: #f19f60;
    width: 100%;
    border: 1px solid #f0f0f0;    
    box-shadow: 10px 10px 20px rgb(255, 255, 255);
    box-shadow: 
        0px 0px 0px 4px rgba(241, 159, 96, 0.5),  /* Simula uma borda colorida na sombra */
        0px 10px 15px rgba(0, 0, 0, 0.2);
    
}

.stock-card.selected .image-container {
    background-color: #f19f60;
    /* Altera a cor de fundo da imagem para verde quando selecionado */
}

.image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #ffffff;
}

.symbol-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.stock-image {
    width: 100%;
    /* Ocupa 100% da largura do contêiner */
    height: 100%;
    /* Ocupa 100% da altura do contêiner */
    object-fit: cover;
    /* Faz a imagem preencher o contêiner, cortando as bordas se necessário */
    transform: scale(1.1);
    /* Aplica um leve zoom na imagem */
    transition: transform 0.3s ease;
    /* Suaviza a transição do zoom */
    border-radius: 15px;
    /*Arredonda a borda*/
}

.stock-card:hover .stock-image {
    /* transform: scale(1.15); */
    transform: scale(1.05) rotateY(0); /* Efeito de hover para aumentar o card suavemente */
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15); 
}

.stock-symbol {
    font-size: 1.5rem;
    /* Tamanho do texto do símbolo */
    font-weight: bold;
    color: #333333;
    /* Cor do texto */
    text-align: center;
}



.letter-filter {
    position: sticky;
    top: 0;
    /* Fixa o menu no topo da seção de rolagem */
    z-index: 1000;
    /* Garante que o menu fique acima de outros elementos */
    background-color: #0d091c;
    /* Mantém o fundo consistente */
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 30px;
    /* Remove margem superior para melhor posicionamento */
    font-size: 20px;
}


.filter-letter {
    margin: 0 5px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    background-color: #4a4956;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.filter-letter.active,
.filter-letter:hover {
    background-color: #f19f60;
    color: white;
}

.no-stocks-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /* Assegura que o contêiner ocupe toda a largura */
    color: white;
    font-size: 24px;
    /* Tamanho grande para a mensagem */
    text-align: center;
}

.custom-heading {
    font-size: 20px;
    color: #4caf50;
    margin-bottom: 20px;
    /* Ajusta a margem inferior para o cabeçalho */
}

.logout-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: 30px; /* Ajusta a posição em relação ao fundo da sidebar */
    width: calc(100% - 60px); /* Garante que o container respeite o padding da sidebar */
    transition: color 0.3s ease;
    padding-left: 30px; /* Mantém o alinhamento com o conteúdo da sidebar */
}

.logout-icon {
    color: white;
    margin-right: 10px;    
}

.logout-text {
    color: white;
    font-size: 1.2rem;
}

.logout-container:hover .logout-icon,
.logout-container:hover .logout-text {
    color: #f44336;
}


.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.spinner {
    border: 20px solid #f3f3f3;
    border-top: 20px solid #ff6f00;
    border-radius: 50%;
    width: 150px !important;
    height: 150px !important;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;    
    background-color: rgba(0, 0, 0, 0.5);
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    width: 100%;  /* O comprimento se ajustará ao conteúdo */
    max-width: 400px; /* Defina a largura máxima do modal */
    overflow: hidden; /* Esconde conteúdo que exceda o tamanho */
}

.modal-content h2 {
    margin-bottom: 10px;
}

.modal-content p {
    margin-bottom: 20px;
}

.modal-content button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #45a049;
}

.menu-section-plan {

    text-align: center;
}

.upgrade-plan-link {
    color: #ff6f00;    
    cursor: pointer;
    font-weight: bold;    
    transition: color 0.3s ease;
    margin-top: 20px;
    font-size: 1.2rem !important; /* Garante que o tamanho da fonte seja aplicado */
    border: 2px solid #ff6f00; /* Adiciona uma borda de 2px com a mesma cor do texto */
    padding: 5px; /* Adiciona um pouco de espaço interno entre o texto e a borda */
    border-radius: 5px; /* Arredonda os cantos da borda */
}

.upgrade-plan-link:hover {
    color: #f0f0f0;
    border-color: #f0f0f0; /* Altera a cor da borda ao passar o mouse */
    text-decoration: underline;
}

/* Estilo para o ícone de feedback */
/* Contêiner para o ícone e texto */
.feedback-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

.feedback-icon {
    background-color: #ff8f00;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

/* Texto ao lado do ícone */
.feedback-text {
    color: #ff8f00;
    font-size: 16px;
    font-weight: bold;        
}

.volume-stars {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 2px;
}

.star-icon {
    color: rgb(90, 44, 13);
    font-size: 16px; /* Ajuste o tamanho conforme necessário */
}
