html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px; /* Base para dimensionamento relativo */
    overflow-x: hidden; /* Impede a rolagem horizontal em todo o documento */
}

.dashboard {
    display: flex; 
    height: 100vh; /* Garante que o dashboard ocupe toda a altura da tela */
    background-color: #120c2b;
    overflow: hidden; /* Impede rolagem horizontal dentro do dashboard */
    width: 100vw;  /* Mantém o dashboard ocupando toda a largura da tela */
}

.sidebar {
    width: 250px; /* Largura fixa para o sidebar */
    background-color: #4a4956; /* Cor do sidebar */
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Permite rolagem se o conteúdo do sidebar for maior que a altura da tela */
    color: white; /* Cor do texto dentro do sidebar */
    flex-shrink: 0; /* Impede que o sidebar seja reduzido quando a tela diminuir */
}

.sidebar p {
    margin-bottom: 40px; /* Espaçamento entre os textos */
    font-size: 1rem; /* Tamanho do texto relativo */
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: calc(100% - 280px);  /* Garante que o conteúdo ocupe toda a largura com margem */
    margin-left: 30px;  /* Margem à esquerda para espaço entre sidebar e cards */
    margin-top: 20px;
    overflow-y: auto; /* Permite rolagem vertical */
}

.stocks-section {
    margin-top: 20px;
    flex-grow: 1;
    overflow-y: auto; /* Habilita a rolagem vertical na seção de stocks */
}

.stocks-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Exibe exatamente 5 cards por linha */
    gap: 15px;
    width: 100%; /* Garante que a grid ocupa 100% do espaço disponível */
    margin: 0 auto; /* Centraliza a grid horizontalmente */
    padding-bottom: 20px; /* Espaço inferior para facilitar a rolagem até o final */
}

.stock-card {
    width: 220px; /* Largura */
    height: 110px; /* Altura */
    padding: 13px;
    background-color: #f0f0f0;
    border: 3px solid transparent;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s, border-color 0.2s;
    font-size: 1rem; /* Tamanho do texto relativo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stock-card.selected {
    border-color: #04963e;
    border-radius: 18px;
    background-color: #e8f5e9;
    transform: scale(1.05);
    color: #04963e;
}

.stock-card p {
    margin: 15px 0;
    font-size: 1rem; /* Tamanho do texto relativo */
}

.sidebar-button {
    display: block;
    width: 100%;
    padding: 15px; /* Aumenta o tamanho dos botões */
    margin-top: 15px; /* Aumenta o espaçamento superior */
    font-size: 1.1rem; /* Aumenta o tamanho do texto dos botões */
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-shadow: #120c2b;
}

.sidebar-button.save {
    margin-top: 50px; /* Aumenta a distância do botão Salvar em relação ao botão Limpar */
}

.sidebar-button.save:hover {
    background-color: #45a049;
}

.sidebar-button.clear-selection {
    background-color: #f44336;
}

.sidebar-button.clear-selection:hover {
    background-color: #d32f2f;
}

.letter-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 80px; /* Aumenta o espaço entre o menu de letras e os cards */
    margin-top: 50px;    
    font-size: 20px;
}

.filter-letter {
    margin: 0 5px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    background-color: #4a4956;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.filter-letter.active,
.filter-letter:hover {
    background-color: #04963e;
    color: white;
}

.no-stocks-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    width: 100%;  /* Assegura que o contêiner ocupe toda a largura */
    color: white;
    font-size: 24px; /* Tamanho grande para a mensagem */
    text-align: center;
}

.custom-heading {
    color: #4caf50; /* Azul claro */
}

.logout-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
    transition: color 0.3s ease;
}

.logout-icon {
    color: white;
    margin-right: 10px;
    margin-top: 250px;
}

.logout-text {
    color: white;
    font-size: 1.2rem; /* Ajuste conforme necessário */
    margin-top: 250px;
}

.logout-container:hover .logout-icon,
.logout-container:hover .logout-text {
    color: #f44336; /* Cor ao passar o mouse por cima (vermelho) */
}
