/* Container principal que cobre a tela inteira */
body {
    display: flex;
    justify-content: flex-end; /* Alinha o contêiner à direita */
    align-items: center;       /* Alinhamento vertical */
    height: 100vh;             /* Altura da viewport completa */
    background-color: #291968; /* Cor de fundo */
    margin: 0;                 /* Remove margens padrão do body */
    padding-right: 50px;       /* Adiciona espaçamento à direita */
    background-image: url(https://cdn.greatsoftwares.com.br/arquivos/paginas_editor/16307-b31032316e6e88916f46f0718cf9328c.webp);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;

}

.login-container {
    max-width: 500px;        /* Aumenta o tamanho máximo da caixa */
    padding: 40px;           /* Espaçamento interno maior */
    border: 1px solid #ccc;  /* Borda da caixa */
    border-radius: 8px;      /* Cantos arredondados */
    background-color: #fff;  /* Cor de fundo da caixa */
    text-align: center;      /* Alinhamento de texto centralizado */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); /* Sombra para dar destaque */
}

.login-container h2 {
    color: #333;
    font-size: 24px;
}

.login-container p {
    color: #666;
    font-size: 16px;
}

.login-form input {
    width: 95%;               /* Aumenta a largura dos inputs */
    padding: 12px;            /* Aumenta o padding dos inputs */
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.login-form button {
    width: 100%;              /* Botão ocupa toda a largura disponível */
    padding: 14px;            /* Aumenta o padding do botão */
    margin-top: 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 25px;      /* Arredonda o botão */
    cursor: pointer;
}

.login-form button:hover {
    background-color: #555;
}

.social-login button {
    width: 100%;              /* Botões de login social ocupam toda a largura */
    padding: 12px;            /* Aumenta o padding dos botões */
    margin: 8px 0;
    border: none;
    border-radius: 25px;      /* Arredonda os botões sociais */
    color: white;
    cursor: pointer;
}

.facebook-login {
    background-color: #3b5998;
}

.google-login {
    background-color: #db4437;
}

.social-login button:hover {
    opacity: 0.9;
}

.login-container a {
    color: #0066cc;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

.loading-bar {
    width: 100%;
    height: 4px;
    background-color: #f3f3f3;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
}

.loading-bar-progress {
    width: 0;
    height: 100%;
    background-color: #00f262;
    position: absolute;
    animation: loading 2s infinite;
}

@keyframes loading {
    0% { width: 0; }
    100% { width: 100%; }
}