/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100vw !important; /* Garante que o body e html ocupem toda a largura */
  overflow-x: hidden; /* Evita barra de rolagem horizontal */
  font-family: 'DM Sans', sans-serif;
  background-color: #1E3A5F; /* Fundo escuro */
  color: #f0f0f0; /* Texto claro */
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #1E3A5F 30%, #0f2027 100%);
  scroll-behavior: smooth;
}


/* Container padrão */
.container {
  width: 100vw !important; /* Garante que o container ocupe toda a largura da tela */
  padding: 0; /* Remove o padding lateral */
  margin: 0; /* Remove margens */
  text-align: center;
}

/* Header */
header {
  background-color: #1c1c32;
  color: #f0f0f0; /* Texto claro */
  padding: 20px 0;
  width: 100vw; /* Extende o header por toda a largura */
  background: linear-gradient(135deg, #1c1c32 0%, #0d1524 100%);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-left: 30px;    
}

.nav-menu {
  list-style: none;
  display: flex;
}

.nav-menu li {
  margin: 0 100px;
  margin-right: 50px;
}

.nav-menu a {
  color: #f0f0f0; /* Texto claro nos links */
  text-decoration: none;
  font-size: 30px;
  border: 2px solid #f0f0f0; /* Adiciona uma borda fina ao redor dos links */
  padding: 10px 20px; /* Adiciona espaçamento interno para a borda não ficar colada no texto */
  border-radius: 5px; /* Adiciona bordas arredondadas */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Transição suave ao passar o mouse */
}

.nav-menu a:hover {
  background-color: #ff6f00; /* Cor de fundo ao passar o mouse */
  border-color: #ff6f00; /* Muda a cor da borda ao passar o mouse */
}


.nav-menu a:hover {
  text-decoration: underline;
}

/* Hero Section */
.hero-section {
  position: relative;
  background-color: #1E3A5F;
  padding: 60px 0;
  width: 100vw;
  text-align: center;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.hero-video {
  position: absolute;
  width: 100%;
  height: 152%;
  object-fit: cover; /* Ajuste proporcional, cortando se necessário */
  z-index: -1; /* Fica atrás de todo o conteúdo */
  opacity: 0.5;
}

.hero-content {
  position: relative;
  z-index: 1; /* Garante que o conteúdo fique acima do vídeo */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: white;
  padding: 2rem;
}

.hero-section h2 {
  font-size: 42px;
  color: #f0f0f0; /* Texto claro */
}

.hero-section p {
  font-size: 20px;
  color: #d3d3d3; /* Texto claro mas um tom mais suave */
}

.hero-text {
  flex: 1;
  color: #f0f0f0;
  padding-right: 20px;
  text-align: left; /* Alinha o texto à esquerda */
}

.hero-text p {
  font-weight: bold;
}

.cta-button {
  background-color: #ff6f00;
  color: #f0f0f0; /* Texto claro no botão */
  padding: 15px 30px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background: linear-gradient(135deg, #ff6f00, #ff8f00);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.cta-button, .nav-menu a, .plan-buttons .btn {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta-button:hover, .nav-menu a:hover, .plan-buttons .btn:hover {
  background-color: #ff8f00;
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* Seção Benefícios */
.benefits-section {
  padding: 100px 0;
  background-color: #f0f0f0;
  width: 100vw; /* Estende a seção de benefícios por toda a largura */  
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
}

.benefits-section .container {
  max-width: 1000px; /* Define uma largura máxima para a centralização */
  width: 100%;
  padding: 20px;
  margin: 0 auto; /* Centraliza horizontalmente */
  text-align: left; /* Garante o alinhamento à esquerda dentro da seção */
}

.benefits-section h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #1E3A5F; /* Texto claro */
  margin-left: 100px;
}

.benefits-section ul {
  list-style-type: none;
}

.benefits-section li {  
  margin: 10px 0;
  color: #1E3A5F; /* Texto suave */
  text-align: left !important;
  margin-bottom: 10px; /* Espaçamento entre os itens da lista */  
  font-size: 1rem; /* Ajuste o tamanho da fonte */
  line-height: 1.5; /* Linha mais espaçada para melhor legibilidade */
}

/* Seção de Comparação */
.comparison-section {
  background-color: #141625; /* Fundo escuro semelhante ao da imagem */
  color: #ffffff;
  padding: 100px 0;
  text-align: center !important;
  width: 100vw;
}

.comparison-section h2 {
  font-size: 36px;
  color: #ffffff;
}

.comparison-section p {
  font-size: 18px;
  color: #d3d3d3;
  margin-bottom: 40px;
}

.comparison-cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.comparison-card {
  background-color: #1c1c32;
  border-radius: 10px;
  padding: 100px;
  width: 100vw !important;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  
  transition: opacity 0.5s ease;
}

.comparison-card h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.comparison-card.negative h3 {
  color: #ff4d4d;
}

.comparison-card.positive h3 {
  color: #00c853;
}

.comparison-card ul {
  list-style: none;
  padding-left: 0;
}

.comparison-card li {
  font-size: 16px;
  margin: 15px 0;
  display: flex;
  align-items: center;
}

.cross-icon {
  color: #ff4d4d !important;
  font-weight: bold;
  margin-right: 10px;
  font-size: 25px;
}

.check-icon {
  color: #00c853 !important; /* Cor verde para o ícone de check */
  font-weight: bold; /* Destaque o ícone com peso maior */
  margin-right: 10px; /* Espaço entre o ícone e o texto */
  font-size: 25px;
}

/* Seção de Depoimentos */
.testimonials-section {
  padding: 60px 0;
  background-color: #1E3A5F;
  color: #f0f0f0;
  text-align: center;
  width: 100vw;
}

.testimonial-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.testimonial-slider {
  overflow: hidden;
  width: 80%; /* Ajuste o valor para controlar a largura do slider */
}

.testimonial-list {
  display: flex;
  transition: transform 1s ease-in-out; /* Transição suave ao deslizar */
  width: calc(100% * 1);
}

.testimonial-box {
  flex: 0 0 100%; /* Garante que cada depoimento ocupe 100% da largura do slider */
  box-sizing: border-box; /* Inclui padding e bordas na largura total */
  padding: 20px;
  border-radius: 30px;
  border: 2px solid #ff6f00;
  background-color: #2b3e50; /* Fundo escuro para destacar */
  font-size: 18px;
  line-height: 1.6;
}

.testimonial-box p {
  margin-bottom: 15px;
  font-style: italic;
}

.testimonial-box span {
  display: block;
  font-weight: bold;
  color: #ff6f00;
}

.carousel-button {
  background: none;
  border: none;
  color: #ff6f00;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.3s ease;
  z-index: 2;
}

.testimonials-section h2{

  margin-bottom: 50px;

}

.carousel-button:hover {
  transform: scale(1.2);
}

.prev-button {
  margin-right: 20px;
}

.next-button {
  margin-left: 20px;
}

/* Seção de preços */
.pricing-section {
  padding: 100px 0;
  background-color: #f0f0f0;
  width: 100vw; /* Estende a seção de preços por toda a largura */
  color: #1E3A5F; /* Texto claro */  
  background: linear-gradient(135deg, #f0f0f0, #e0e0e0);
}

/* Tabela de preços com bordas arredondadas e espaçamento entre linhas */
.pricing-table {
  width: 100%;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 10px 10px;
  margin-top: 20px;
}

/* Estilo para as células da tabela */
.pricing-table th, 
.pricing-table td {
  border: 1px solid #444;
  padding: 15px;
  text-align: center;
}

/* Estilo para o cabeçalho da tabela */
.pricing-table th {
  background-color: #ff6f00;
  color: #f0f0f0;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  border: 1px solid #444;
}

/* Alternância de cor entre linhas */
.pricing-table tr:nth-child(odd) td {
  background-color: #2b2b2b;
  color: #d3d3d3;
}

.pricing-table tr:nth-child(even) td {
  background-color: #383838;
  color: #f0f0f0;
}

/* Arredondando a primeira e última célula de cada linha (cabeçalho) */
.pricing-table thead th:first-child {
  border-top-left-radius: 12px;
}

.pricing-table thead th:last-child {
  border-top-right-radius: 12px;
}

/* Arredondando a primeira e última célula de cada linha (corpo da tabela) */
.pricing-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}

.pricing-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}

/* Arredondando as bordas laterais de todas as linhas da tabela */
.pricing-table tbody tr td:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.pricing-table tbody tr td:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.pricing-table thead th:first-child {
  border-top-left-radius: 12px;
}

.pricing-table thead th:last-child {
  border-top-right-radius: 12px;
}

/* Botões dos planos */
.plan-buttons .btn {
  padding: 10px 20px;
  color: #f0f0f0; /* Texto claro no botão */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  background-color: #ff6f00;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.plan-buttons .btn:hover {
  transform: scale(1.1);
}

.current-plan {
  background-color: #f0f0f0;
  cursor: not-allowed;
}

/* Estilo do botão Free */
.btn-free, .btn-basic, .btn-pro {
    color: #ff6f00 !important;        
    font-weight: bold !important;
}

.btn-free:hover, .btn-basic:hover, .btn-pro:hover {
  background-color: #f0f0f0 !important; /* Verde mais claro no hover */
}

/* Rodapé */
footer {
  background-color: #1c1c32;
  color: #f0f0f0; /* Texto claro */
  padding: 20px 0;
  text-align: center;
  width: 100vw; /* Extende o rodapé por toda a largura */
}

footer p {
  margin: 0;
  font-size: 1rem;
  color: #d3d3d3; /* Texto suave */
}

/* Responsividade */
@media (max-width: 768px) {

  .hero-content {
    flex-direction: column; /* Empilha o texto e a imagem em telas menores */
    text-align: center; /* Centraliza o texto */
  }

  .hero-text {
    padding-right: 0; /* Remove o espaçamento à direita em telas menores */
  }

  .hero-image {
    margin-top: 20px; /* Adiciona um pouco de espaçamento acima da imagem em telas pequenas */
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .hero-image img.loaded, .comparison-card img.loaded {
    opacity: 1;
  }

  .pricing-table {
    font-size: 0.9rem;
  }

  .plan-buttons .btn {
    width: 100%;
    margin-top: 10px;
  }
}

/* Estilo para a barra de rolagem */
::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: #2b2b2b; /* Cor do trilho da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background-color: #ff6f00; /* Cor da barra de rolagem */
  border-radius: 10px; /* Arredondamento da barra de rolagem */
  border: 2px solid #2b2b2b; /* Deixa espaço ao redor da barra de rolagem */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff8f00; /* Cor da barra de rolagem ao passar o mouse */
}

/* Estilo para suavizar a rolagem */
html {
  scroll-behavior: smooth; /* Suaviza a rolagem ao clicar em âncoras */
}

.logo-title-container {
  display: flex;
  align-items: center;
  
}

.logo {
  width: 200px; /* Ajuste o tamanho da logo conforme necessário */  
  margin-left: 500px;
  margin-bottom: 20px;  
  max-width: 100%;
  height: auto;  
  
}

/* Estilo geral da seção FAQ */
.faq-section {
  padding: 40px;
  background-color: #1c1c32;  
  width: 100vw;  /* Ocupa 100% da largura da tela */
  /* margin-left: calc(-50vw + 60%);  Centraliza a seção sem margens */
}

.faq-section h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 40px;
  margin-top: 40px;
  color: #f0f0f0;
}

/* Estilo de cada item da FAQ (pergunta e resposta) */
.faq-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

/* Estilo da pergunta */
.faq-question {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: 18px;
  color: #f0f0f0;
  transition: color 0.3s ease;
  position: relative;  
}

.faq-question:hover {
  color: #ff8f00;
}

/* Estilo do ícone de seta */
.faq-question svg {
  font-size: 16px;
  color: #ff8f00;
  transition: transform 0.3s ease;
}

.faq-question svg.fa-chevron-up {
  transform: rotate(180deg);
}

.faq-question.open svg {
  transform: rotate(180deg);
}

.faq-question::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #ff8f00;
  transition: width 0.3s ease;
}

.faq-question:hover::after {
  width: 100%;
}

/* Estilo da resposta, inicialmente escondida */
.faq-answer {
  margin-top: 10px;
  padding-left: 10px;
  font-size: 16px;
  color: #f8d6c0;
  display: none;  
  transition: max-height 0.3s ease;
}

/* Exibir a resposta quando expandida */
.faq-item .faq-answer {
  display: block;
}

/* Seção de Garantia */
.guarantee-section {
  padding: 40px 0;
  background-color: #1E3A5F;
  text-align: center;
  width: 100vw; 
}

.guarantee-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guarantee-badge {
  width: 150px;
  margin-bottom: 20px;
}

.guarantee-text h3 {
  font-size: 24px;
  color: #f0f0f0;
  margin-bottom: 10px;
}

.guarantee-text p {
  font-size: 18px;
  color: #f0f0f0;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5;
}
