/* Reflete em todos os arquivos css */
.registration-container {
    max-width: 500px; /* Aumenta a largura do menu */
    padding: 30px; /* Aumenta o padding para mais espaço interno */
    font-family: Arial, sans-serif;
    background-color: #fff;    
    border-radius: 8px;
    position: absolute;
    right: 50px; /* Aumenta a distância da borda direita da tela */
    top: 15%; /* Ajusta a posição vertical para centralizar melhor */
    box-shadow: 0px 4px 8px #ff8f00; 
}

.registration-container h2 {
    color: #333;
    text-align: center;
}

.registration-container p {
    text-align: center;
    color: #666;
}

.registration-container input[type="text"],
.registration-container input[type="email"],
.registration-container input[type="tel"],
.registration-container input[type="password"] {
    width: 100%;
    padding: 12px; /* Aumenta o padding dos inputs */
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ff8f00;
    box-sizing: border-box;
    border-radius: 4px; /* Adiciona bordas arredondadas */
}

.registration-container button {
    background-color: #ff6f00;
    color: white;
    padding: 14px 20px;
    margin: 16px auto; /* Ajusta as margens para centralizar o botão */
    border: none;
    cursor: pointer;
    width: 100%; /* Botão ocupa toda a largura disponível */
    display: block; /* Garante que o botão seja tratado como um bloco */
    border-radius: 50px; /* Aumenta o valor para arredondar mais */
}

.registration-container button:hover {
    opacity: 0.8;
}

.registration-container .social-login-buttons button {
    background-color: #ddd;
    margin: 5px;
    padding: 10px;
    width: calc(50% - 10px);
    display: inline-block;
}

.registration-container .social-login-buttons .facebook {
    background-color: #3B5998;
    color: white;
}

.registration-container .social-login-buttons .google {
    background-color: #ff6f00;
    color: white;
}

.success-message {
    color: #dd4b39;
    border: 1px solid #ff6f00;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
  }
  
  .loading-bar-container {
    width: 100%;
    height: 5px;
    background-color: #f3f3f3;
    margin-top: 10px;
    border-radius: 2px;
    overflow: hidden;
}

.loading-bar {
    width: 100%;
    height: 4px;
    background-color: #f3f3f3;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
}

.loading-bar-progress {
    width: 0;
    height: 100%;
    background-color: #dd4b39;
    position: absolute;
    animation: loading 2s infinite;
}

@keyframes loading {
    0% { width: 0; }
    100% { width: 100%; }
}
