<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo!</title>
</head>
<body>
    <h1>Bem-vindo, {{ cliente.nome }}!</h1>
    <p>Estamos felizes em ter você conosco no plano {{ plano.nome_plano }}.</p>
    <p>Detalhes do pagamento:</p>
    <ul>
        <li>Valor de pagamento: R$ {{ valor_plano }}</li>
        <li>Data da renovação do seu plano: {{ data_renovacao_pagamento }}</li>
        <li>Cartão utilizado: **** **** **** {{ numero_cartao }}</li>
        <li>Validade do cartão: {{ data_vencimento }}</li>
    </ul>
    <p>Qualquer dúvida, estamos à disposição.</p>
    <p>Atenciosamente, <br> StockHub News</p>
</body>
</html>
