.container {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.company-box {
    width: 150px;
    height: 100px;
    background-color: #ff8f00;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 10px 0; /* Espaço entre o box e o conteúdo da notícia */
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.news-card {
    border: 2px solid #ff8f00;  /* Borda ao redor da notícia */
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;  /* Arredondando os cantos da borda */
}

h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}
