<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        {{ css_content }}
    </style>
</head>
<body>
    <div class="email-container">
        {% for acao in acoes %}
        <div class="acao-box">
            <div class="company-box">
                <h2>{{ acao.nome }} ({{ acao.simbolo }})</h2>
            </div>
            <div class="noticias-box">
                <ul>
                    {% for topico in acao.topicos %}
                        <li>{{ topico }}</li>
                    {% endfor %}
                </ul>
                <p>Links das notícias:</p>
                <ul>
                    {% for link in acao.urls %}
                        <li><a href="{{ link }}">{{ link }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
